.itemList {
  margin-top: 24px;

  .todoBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    height: 64px;
    width: 540px;
    padding-inline: 20px;
    padding-block: 22px;
    background-color: var(--menu-background-color);
    border-bottom: 1px solid var(--border-bottom);

    &:hover .deleteButton {
      display: block;
    }

    .todoHolder {
      display: flex;
      align-items: center;
      gap: 10px;

      .checkboxButton {
        height: 24px;
        width: 24px;
        border: 2px solid transparent;
        border-radius: 50px;
        background: var(--border-bottom);
        mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
        -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
        mask-composite: xor;
        -webkit-mask-composite: xor;
        mask-composite: exclude;

        &:hover {
          cursor: pointer;
          background: linear-gradient(45deg, rgba(85, 221, 255, 1), rgba(192, 88, 243, 1)) border-box;
        }
      }

      .checkboxButtonChecked {
        background: linear-gradient(45deg, rgba(85, 221, 255, 1), rgba(192, 88, 243, 1)) border-box;
        mask: unset;
        -webkit-mask: unset;
        mask-composite: unset;
        -webkit-mask-composite: unset;
        mask-composite: unset;

        &::after {
          content: "✔";
          color: var(--main-color-font);
        }
      }

      .todoTextArea {
        color: var(--main-color-font);
      }

      .todoTextAreaChecked {
        text-decoration: line-through;
        color: var(--secondary-color-font);
      }
    }

    .deleteButton {
      display: none;
      height: 18px;
      width: 18px;
      color: var(--secondary-color-font);

      &:hover {
        cursor: pointer;
      }
    }
  }
}
